#profile-container{
  width: fit-content;
  margin: 20px;
  background-color: azure;
}
#profile-image{
  width: 240px;
  margin: 10px;

}
p{
  text-align: center;
}

#footer {
  width: 260px;
  margin: 20px;
  height: 50px;
  line-height: 50px;
  background-color: burlywood;
  text-align: center;
  color: white;
}

#header {
  width: 260px;
  margin: 20px;

  line-height: 50px;
  background-color: burlywood;
  text-align: center;
  color: white;
}